@inherits UmbracoTemplatePage

<section id="@CurrentPage.Id" class="content-section text-center">
    <div class="background-section" style="background-image: url('@Umbraco.Media(CurrentPage.Background).Url');">
        <div class="container">
            @if (CurrentPage.HasValue("Title"))
            {
                <h2>@CurrentPage.Title</h2>
            }

            @if (CurrentPage.HasValue("Intro"))
            {
                <div class="row">
                    <p>@CurrentPage.Intro</p>
                </div>
            }

            @if (Model.Content.Children.Any())
            {
                <br/>
                <div class="row">
                    @foreach (var child in Model.Content.Children)
                    {
                        <button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#@child.Id">
                            @child.GetProperty("Title").Value
                        </button>
                    }
                </div>
            }
        </div>
    </div>
</section>

@if (Model.Content.Children.Any())
{
    foreach (var child in Model.Content.Children)
    {
        Html.RenderPartial(child.DocumentTypeAlias, child);
    }
}
