@inherits UmbracoTemplatePage

<section id="@CurrentPage.Id" class="content-section text-center">
    <div class="image-section">
        <div class="container">
            @if (CurrentPage.HasValue("Title"))
            {
                <h2>@CurrentPage.Title</h2>
            }

            @if (CurrentPage.HasValue("Logos"))
            {
                var imageList = CurrentPage.Logos.Split(new string[] { "," }, StringSplitOptions.RemoveEmptyEntries);
                var imageCollection = Umbraco.Media(imageList);

                <ul class="list-inline">
                    @foreach (var image in imageCollection)
                    {
                        <li>
                            @if (image.HasValue("TargetUrl"))
                            {
                                <a href="@image.TargetUrl">
                                    <img src="@image.Url" alt="@image.Alt" />
                                </a>
                            }
                            else
                            {
                                <img src="@image.Url" alt="@image.Alt"/>
                            }
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
</section>
