@inherits UmbracoTemplatePage

<div class="modal fade" id="@CurrentPage.Id" tabindex="-1" role="dialog" aria-labelledby="@CurrentPage.Id-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="@CurrentPage.Id-label">
                    @CurrentPage.Title
                </h4>
            </div>
            <div class="modal-body text-center">
                @CurrentPage.Text
            </div>

        </div>
    </div>
</div>

