@inherits UmbracoTemplatePage
@{
    var homePage = CurrentPage.AncestorsOrSelf(1).First();
}

<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <span id="navbarTitle" class="light" style="display: none;">@Umbraco.Field("pageName")</span>
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                @foreach (var child in Model.Content.Children)
                {
                    <li>
                        <a class="page-scroll" href="#@child.Id">
                            @(@child.GetProperty("Title").HasValue ? child.GetProperty("Title").Value : @child.Name)
                        </a>
                    </li>
                }

                @RenderLinkIfNotEmpty(homePage.Facebook, "fa-facebook-square")
                @RenderLinkIfNotEmpty(homePage.Instagram, "fa-instagram")
            </ul>
        </div>
    </div>
</nav>

@helper RenderLinkIfNotEmpty(dynamic link, string cssClass)
{
    if (string.IsNullOrEmpty(link) == false)
    {
        <li><a href="@link"><i class="fa @cssClass"></i></a></li>
    }
}